nav {
    height:60px;
    background-color: #fafafa;   
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    height: 50px;
    margin-bottom:10px;
    padding: 0;
}
ul a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#widget{
    padding: 0;
    width: 75px;
}


