nav {
    font-size: 20px;
    background-color:#fafafa;
    padding: 0;
}
.nav-link {
    padding: 0;
}
.navEnd{
    width: 10%;
    display: flex;
    justify-content: space-around;
}
#navbarNavDropdown{
    justify-content: space-between;
}
